:root {
    --lato: 'Lato', sans-serif;
    --lora: 'Lora', serif;
}
html, body {
    height: 100%;
}
h1,h2,h3,h4,h5,h6 {
    margin: 0;
    font-weight: normal;
}
a {
    text-decoration: none;
    color: black;
}
ul {
    list-style-type: none;
}
img {
    display: block;
    max-width: 100%;
}
.wrapper {
    background: #FFFFFF;
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.2);


    width: 1340px;
    /* width: 100%; */
    min-height: 100%;
    margin: 0 auto;
}
.container {


}
/* header */
.logo__image {
    margin-left: 50px;
}
.header__container {
    display: flex;
    align-items: center;
}
.menu__list {
    display: flex;
   
}
.menu__item {
    margin-left: 48px;
}
/* hero */

.illustration {
    overflow: hidden;
    width: 1340px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.illustration__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
.illustration__text {
    color: black;
    position: absolute;
    font-size: 40px;
    width: 420px;
    flex-flow: wrap;
    text-align: center;
    font-family: var(--lora);
}
/* info */
.info {
    background: #F9F8F5;
    height: 602px;
}
.title {
    font-size: 30px;
    text-align: center;
    font-weight: normal;
    font-family: var(--lora);
    
}
.info__title {
    padding-top: 60px;
}
.info__list {
    display: flex;
    margin-bottom: 80px;
}
.info__image {
    position: relative;
}
.info__image img{
    filter: grayscale(100%);
    
    margin-bottom: 20px;
}
.info__image::after {
    content:"";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    right: 27px;
    bottom: 0;
    background: rgba(190, 148, 82, 0.4);
}


.info__item {
    width: calc((100%/3) - (20px/3));
    height: 420px;
    background: white;
}
.info__list {
    
}
.info__subtitle {
    font-weight: normal;
    font-family: var(--lora);
    
    margin-bottom: 10px;
    font-size: 24px;
}
.info__text {
    font-size: 18px;
    font-family: var(--lato);
}
.info__date {
    font-size: 18px;
}
.info__line {
    width: 82px;
    border: 1px solid #BE9452;
    background: #BE9452;
    margin: 16px 0;
}
.info__day {
    font-size: 24px;
}
/* place */
.place__title {
    margin-bottom: 33px;
}
.place__desc {
    text-align: center;
    font-size: 16px;
    margin-bottom: 27px;
}
.place-image {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    position: relative;
    margin-bottom: 143px;
}

.place__image_1,
.place__image_2,
.place__image_3 {
    overflow: hidden;
}
.place__image_1 {
    width: 715px;
    height: 525px;
    margin-right: 20px;
}
.place__image_2 {
    width: 505px;
    height: 218px;
    margin-bottom: 30px;
}
.place__image_3 {
    width: 505px;
    height: 277px;
}
.place__image_1 > img,
.place__image_2 > img,
.place__image_3 > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.geo {
    display: flex;
    position: absolute;
 
    background-color: white;
    justify-content: start;
   
}   
/* life */
.life__list {
    display: flex;
    margin-bottom: 140px;
}
.life__item {
    width: 315px;
    height: 268px; 
    overflow: hidden;   
}
.life__item > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* map */
.map__title {
    margin-bottom: 30px;
}
.map-content {
    display: flex;
    justify-content: center;
}
.map-left {
    margin-right: 125px;
    
}
.map__image {
    position: relative;
    margin-bottom: 60px;
}
.map__icon {
    position: absolute;
    left: 134px;
    top: 82px;  
}
.map__address {
    font-size: 24px;
    margin-bottom: 15px;
}
.map__desc {
    font-size: 16px;
    margin-bottom: 24px;
    
}
.map__contacts {
    font-size: 24px;
}
.tel {
    margin-bottom: 10px;
    font-size: 24px;
}

/* footer */
.footer__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}
.footer__logo {
    width: 93px;
    height: 80px;
    background: grey;
}
.footer__list {
    display: flex;
}
.footer__item {
    margin-right: 48px;
    font-size: 14px;
    font-family: var(--lato);
    text-transform: uppercase;
}
.footer__tel {
    margin-right: 25px;
}